In [1]:
import pandas as pd

In [7]:
csv_path = "Resources/Recorded_Offences.csv"

books_df = pd.read_csv(csv_path, encoding="utf-8")

books_df.head()

,Year,Year ending,Offence Division,Offence Subdivision,Offence Subgroup,Offence Count,"Rate per 100,000 population"
0,2022,September,A Crimes against the person,A10 Homicide and related offences,A11 Murder,49,0.7
1,2022,September,A Crimes against the person,A10 Homicide and related offences,A12 Attempted murder,26,0.4
2,2022,September,A Crimes against the person,A10 Homicide and related offences,A14 Manslaughter & A13 Accessory/ conspiracy ...,29,0.4
3,2022,September,A Crimes against the person,A10 Homicide and related offences,A15 Driving causing death,83,1.3
4,2022,September,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,"6,953",105.5